<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>LIBROS</h3>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>LIBRO</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books">
                    <td (click)="getBook(modalGetBook, book)">{{ book.nombre }}</td>
                    <td>
                        <button (click)="openEditBookModal(editBookModal, book)" class="btn btn-warning">
                           Editar
                        </button>
                        <button (click)="deleteBook(confirmacionDeleteBook,book)" class="btn btn-danger">
                           Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- VENTANA MODAL MUESTRA UN LIBRO -->
<ng-template #modalGetBook let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Libro:</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <p>
            Titulo:&nbsp;<span>{{ book.nombre }}</span>
        </p>
        <p>
            Isbn:&nbsp;<span>{{ book.isbn }}</span>
        </p>
        <hr />
        <p>
            Autor&nbsp;
        </p>
        <p>
            Nombre:&nbsp;<span>{{ book.first_name }}</span>
        </p>
        <p>
            Apellido:&nbsp;<span>{{ book.last_name }}</span>
        </p>
    </div>
</ng-template>

<!-- VENTANA MODAL EDITAR UN LIBRO -->
<ng-template #editBookModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Libro:</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editBookForm">
            <div class="form-group">
                <label for="name">Titulo:&nbsp;</label>
                <div class="input-group">
                    <input id="name" class="form-control" [(ngModel)]="book.nombre" formControlName="nombre" [ngClass]="{ 'is-invalid':submitted && ebfc.nombre.errors }" />
                    <div *ngIf="submitted && ebfc.nombre.errors" class="invalid-feedback">
                      <div *ngIf="ebfc.nombre.errors.required">titulo is required</div>
                  </div>
                  </div>
            </div>
            <div class="form-group">
                <label for="isbn">Isbn:&nbsp;</label>
                <div class="input-group">
                    <input id="isbn" class="form-control" [(ngModel)]=" book.isbn" formControlName="isbn" />
                </div>
            </div>
            <hr />
            <p>
                Autor&nbsp;
            </p>
            <div class="form-group">
                <label for="first_name">Nombre:&nbsp;</label>
                <div class="input-group">
                    <input id="first_name" class="form-control" formControlName="first_name" [(ngModel)]="book.first_name" />
                </div>
            </div>
            <div class="form-group">
                <label for="last_name">Nombre:&nbsp;</label>
                <div class="input-group">
                    <input id="last_name" class="form-control" [(ngModel)]="book.last_name" formControlName="last_name" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">
          Descartar cambios
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="editBook(book)">
           Guardar cambios
        </button>
    </div>
</ng-template>


<ng-template #confirmacionDeleteBook let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Libro:</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <h1>El libro va a ser borrado</h1>
        <p>
            Titulo:&nbsp;<span>{{ book.nombre }}</span>
        </p>
        <p>
            Isbn:&nbsp;<span>{{ book.isbn }}</span>
        </p>
        <hr />
        <p>
            Autor&nbsp;
        </p>
        <p>
            Nombre:&nbsp;<span>{{ book.first_name }}</span>
        </p>
        <p>
            Apellido:&nbsp;<span>{{ book.last_name }}</span>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">
      Cancelar
    </button>
        <button type="button" class="btn btn-outline-dark" (click)="delete(infor,book);modal.close()">
      Borrar
    </button>
    </div>
</ng-template>
<ng-template #infor let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Libro:</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <h1>El libro se ha eliminado</h1>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">
      Cerrar
    </button>

    </div>
</ng-template>

<hr />