@import "src/styles/layout/columns";
@import "src/styles/abstracts/variables";
.container {
    margin-top: 90px;
}

.titulo {
    padding: 30px 30px 0px 30px;
    font-family: sans-serif;
    font-weight: bold;
}

.autor {
    font-family: sans-serif;
    font-size: 20px;
}

.description {
    font-family: sans-serif;
    font-size: 16px;
}

.contain {
    padding-top: 30px;
    display: grid;
}

.modal-header,
.modal-footer {
    background-color: $orange-800;
}

.card {
    //display: flex;
    width: 70%;
    box-shadow: 10px 10px 5px #aaaaaa;
    text-align: center;
    margin: 10px 25px;
    border: 3px solid $red-100;
    cursor: pointer;
}

.sombraLibro {
    box-shadow: 5px 5px 5px #aaaaaa;
    margin: 0 auto;
}

.btn-edit,
.btn-delet {
    height: 25px;
    margin-bottom: 5px;
    text-align: start;
    color: white;
}

.btn-edit {
    margin-right: 5px;
}

.btn-delet {
    margin-left: 5px;
}

.selecionable:hover {
    cursor: pointer;
    opacity: 0.5;
}

#inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile--label {}

.inputfile--label:hover {
    cursor: pointer;
    opacity: 0.7;
}

.grid-container {
    grid-template-areas: 'imagen autor'
}

.item1 {
    grid-area: autor;
}

.item2 {
    grid-area: imagen;
}

.item3 {
    grid-area: main;
}

.grid-containerEJEMPLO {
    grid-template-areas: 'header header header header header header' 'menu main main main right right' 'menu footer footer footer footer footer';
}