<div style="text-align:center">
  <h1>Welcome to {{title}} </h1>
</div>
<div class="container">
  <button routerLink="/" class="btn btn-info">inicio </button>
  <button (click)="listar()" class="btn btn-info" style="margin-left:10px">Lista Libros</button>
  <button (click)="listarAutores()" class="btn btn-info" style="margin-left:10px">Lista Autores</button>
  <button (click)="newBook()" class="btn btn-info" style="margin-left:10px">Nuevo Libro</button>
  <button (click)="newAuthor()" class="btn btn-info" style="margin-left:10px">Nuevo Autor</button>

</div>

<router-outlet></router-outlet>