<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>AUTORES</h3>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr class="tr" *ngFor="let autor of autores" id="tr">
                    <td *ngIf="autor.id!=1 ">{{autor.first_name}}</td>
                    <td *ngIf="autor.id!=1 ">{{autor.last_name}}</td>
                    <td *ngIf="autor.id!=1 && autor.id!=2 "><button (click)="eliminar(autor.id)" class="btn btn-danger">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>