/* You can add global styles to this file, and also import other style files */

body {
    padding-top: 10px;
    background-color: crimson;
    background-image: url("/assets/images/book/libro.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding-top: 80px;
}

.principal {
    text-align: center;
    margin-bottom: 50px;
}

.logo {
    font-size: x-small;
}
