<div class="container principal">
    <div class="jumbo">

        <h1 class="display-4 text-center pt-md-4">
            <!-- <img _ngcontent-oeu-c108="" src="./assets/images/book/logo.png" height="120px"> -->
            Gnommo's Library
        </h1>
        <p class="leade">Busca en nuestra web el libro que necesitas.</p>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img class="pl-3 mt-5 " alt="Licencia Creative Commons" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
        </a>

    </div>
    <div class="fondo">
        <!-- <img src="./assets/images/book/logo.png" height="320px"> -->
    </div>
</div>
