<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input
            id="dateOfBirth"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            ngbDatepicker
            #dp="ngbDatepicker"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary calendar"
              (click)="dp.toggle()"
              type="button"
            ></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">
  Launch demo modal
</button>

<hr />

<pre>{{ closeResult }}</pre>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Agregar Libro</h3>
    </div>
  </div>
  <div class="card-body">
    <form name="formularioLibro" action="">
      <div class="form-group">
        <label for="">Titulo:</label>
        <input
          type="text"
          class="form-control"
          required
          [(ngModel)]="book.nombre"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="">Isbn:</label>
        <input
          class="form-control"
          required
          [(ngModel)]="book.isbn"
          name="isbn"
        />
      </div>
      <div class="form-group">
        <label for="">ID autor</label>
        <input
          class="form-control"
          required
          [(ngModel)]="book.idAutor"
          name="id_autor"
        />
      </div>
    </form>
    <button type="button" (click)="actualizarLibro()" class="btn btn-danger">
      Guardar
    </button>
  </div>
</div>
